In [1]:
# Dependencies
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

C:\Users\busra\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\busra\anaconda3\lib\site-packages\numpy\.libs\libopenblas.FB5AE2TYXYH2IJRDKGDGQ3XBKLKTF43H.gfortran-win_amd64.dll
C:\Users\busra\anaconda3\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"
C:\Users\busra\anaconda3\lib\site-packages\scipy\__init__.py:138: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.0)
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion} is required for this version of "

In [2]:
dataset = pd.read_csv("TweetData.csv")
dataset.head(10)

,Tweet Id,Date,Hour,User Name,Nickname,Bio,Tweet content,Favs,RTs,Latitude,Longitude,Country,Place (as appears on Bio),Profile picture,Followers,Following,Listed,Tweet language (ISO 639-1),Tweet Url
0,723066388391157762,2016-04-21,08:30,ZPR,ZPRSoho,22 straight talking PRs based in Soho sharing ...,Talking to some great journos this morning all...,NaN,NaN,51.505185,-0.150128,GB,"London, England",http://pbs.twimg.com/profile_images/3788000006...,2178.0,710.0,44.0,en,http://www.twitter.com/ZPRSoho/status/72306638...
1,723066384297672704,2016-04-21,08:30,Beep!Beep!,BeepBeepTraffic,UK Traffic Alert App for iOS http://t.co/55H1q...,Incident (Severe delay) M6 northbound between ...,NaN,NaN,52.615627,-2.029030,GB,"Willenhall, England",http://pbs.twimg.com/profile_images/4657702836...,458.0,245.0,78.0,en,http://www.twitter.com/BeepBeepTraffic/status/...
2,723066381751689216,2016-04-21,08:30,Annette,annetteand2dogs,"Sociologist, (vintage) cyclist, dog lover, mus...",THIS: “@Colmogorman: Great piece by @amcteirna...,NaN,NaN,53.336995,-6.279686,IE,"Dublin City, Ireland",http://pbs.twimg.com/profile_images/6648605106...,333.0,456.0,20.0,en,http://www.twitter.com/annetteand2dogs/status/...
3,723066348201353216,2016-04-21,08:30,Dollie Henry,DollieHenry,Choreographer | Theatre Director | Educator | ...,A Little snippet from my #SundayJazzCongregati...,NaN,NaN,51.513451,-0.125331,GB,"London, England",http://pbs.twimg.com/profile_images/7205554601...,1259.0,1685.0,20.0,en,http://www.twitter.com/DollieHenry/status/7230...
4,723066340953722880,2016-04-21,08:30,Cleo Bannister,cleo_bannister,Love reading and reviewing. Struggle with an ...,Latest Book Review: The Closet of Savage Memen...,NaN,NaN,49.201770,-2.114543,GB,"Saint Helier, Bailiwick of Jersey",http://pbs.twimg.com/profile_images/3788000006...,2418.0,1966.0,140.0,es,http://www.twitter.com/cleo_bannister/status/7...
5,723066335803019264,2016-04-21,08:30,Quintiles Careers,QuintilesCareer,Want to Connect to Great Opportunity? Now is a...,If you're a #Pharmaceutical professional in #M...,NaN,NaN,53.480759,-2.242631,GB,"Manchester, England",http://pbs.twimg.com/profile_images/6232027784...,429.0,19.0,557.0,en,http://www.twitter.com/QuintilesCareer/status/...
6,723066329918504960,2016-04-21,08:30,Rojas Wilmer,wart_dev,CTO Founder of @Socialh4ck - Computer Science ...,I'm at @DublinAirport (DUB) - Aerfort Bhaile Á...,NaN,NaN,53.426630,-6.241822,IE,"Fingal, Ireland",http://pbs.twimg.com/profile_images/6432156259...,576.0,1799.0,26.0,es,http://www.twitter.com/wart_dev/status/7230663...
7,723066322528120832,2016-04-21,08:30,TubeMogul,TubeMogul,TubeMogul is a leading enterprise software com...,Our 2 day @Cadreon_IPG Summit kicks off in our...,NaN,NaN,51.515238,-0.127154,GB,"Camden Town, London",http://pbs.twimg.com/profile_images/4637224003...,14268.0,1861.0,740.0,en,http://www.twitter.com/TubeMogul/status/723066...
8,723066311291592704,2016-04-21,08:30,Sheila Murray-Forde,sheilanne88,"Yoga, Meditation, Ayurveda, Relaxation. Global...",Remembering Charlotte Bronte on the 200th anni...,NaN,NaN,53.832276,-1.958013,GB,"Haworth, England",http://pbs.twimg.com/profile_images/6532993363...,780.0,1227.0,12.0,en,http://www.twitter.com/sheilanne88/status/7230...
9,723066307793588224,2016-04-21,08:30,Pickwick Papers,PickwickFabrics,'Quirky Wallpaper & Fabric shop in Greenwich' ...,"""@christmas_cabin: @PickwickFabrics Hell Yeah!...",NaN,NaN,51.430730,0.070274,GB,"Eltham, London",http://pbs.twimg.com/profile_images/6043082584...,1514.0,1980.0,46.0,en,http://www.twitter.com/PickwickFabrics/status/...

In [91]:
# Filter relevant columns
dataset1 = dataset.loc[ : , ('Tweet content','Latitude', 'Longitude', 'Country','Place (as appears on Bio)' ,'Tweet language (ISO 639-1)')]

# ... and rename them
dataset1.rename(columns={'Tweet content':'Text', 
                         'Tweet language (ISO 639-1)': 'Language',
                         'Place (as appears on Bio)': 'City'}, inplace=True)

# filter language to be english- only
dataset2 = dataset1[dataset1['Language'] == 'en']

# dropNA
dataset2.dropna()

dataset2.reset_index(drop=True,inplace=True)

In [93]:
dataset2['City'].head(10)

0         London, England
1     Willenhall, England
2    Dublin City, Ireland
3         London, England
4     Manchester, England
5     Camden Town, London
6        Haworth, England
7          Eltham, London
8       Kilkenny, Ireland
9      Hillingdon, London
Name: City, dtype: object

In [115]:
dataset2 = dataset2.dropna(subset=['City', 'Country'],axis=0)

In [118]:
dataset2.head(55)

,Text,Latitude,Longitude,Country,City,Language
0,Talking to some great journos this morning all...,51.505185,-0.150128,GB,London,en
1,Incident (Severe delay) M6 northbound between ...,52.615627,-2.029030,GB,"Willenhall, England",en
2,THIS: “@Colmogorman: Great piece by @amcteirna...,53.336995,-6.279686,IE,"Dublin City, Ireland",en
3,A Little snippet from my #SundayJazzCongregati...,51.513451,-0.125331,GB,London,en
4,If you're a #Pharmaceutical professional in #M...,53.480759,-2.242631,GB,Manchester,en
5,Our 2 day @Cadreon_IPG Summit kicks off in our...,51.515238,-0.127154,GB,London,en
6,Remembering Charlotte Bronte on the 200th anni...,53.832276,-1.958013,GB,"Haworth, England",en
7,"""@christmas_cabin: @PickwickFabrics Hell Yeah!...",51.430730,0.070274,GB,London,en
8,"Wind 3.2 km/h ENE. Barometer 1023.30 mb, Risin...",52.733333,-7.183333,IE,"Kilkenny, Ireland",en
9,2 hours to kill (@ London @HeathrowAirport (LH...,51.469715,-0.459881,GB,London,en
10,Heacham Weather:Temp=11.9C &amp; is Rising.Low...,52.908611,0.479167,GB,"Heacham, England",en
11,Bed is just the nicest ever in the morning,53.345302,-6.435788,IE,"South Dublin, Ireland",en
12,When life gives you lemon choux with meringue....,51.513302,-0.131348,GB,London,en
13,#Egaylity - Homophobia in Morocco: Gay or Str...,51.619671,0.020313,GB,London,en
14,#Egaylity - Homophobia in Morocco: Gay or Str...,51.619671,0.020313,GB,London,en
15,Jealous by Nick Jonas is #nowplaying in The Be...,52.708991,-2.778440,GB,"Shrewsbury, England",en
16,Choose your… https://t.co/AV56HWqPoE,54.647186,-5.826571,GB,"Northern Ireland, United Kingdom",en
17,Wind 9.3 km/h ENE. Gusting 16.1. Barometer 102...,53.596389,-9.974167,IE,"Galway, Ireland",en
18,"Wind 10.5 mph E. Barometer 1024.7 hPa, Falling...",51.370833,1.423333,GB,"Broadstairs, England",en
19,The perfect #birthdaycake for a #farmer with #...,53.813385,-2.534807,GB,"North West, England",en
20,Tmp 8.7°C Wind 13mph Press 1022.0mb Cloud 1405...,51.332222,-0.557778,GB,"Woking, South East",en
21,"Temp:15.2°C. Wind:1.0m/s. Press:1025.5mb, Fall...",55.843056,-4.428889,GB,"Paisley, Scotland",en
22,"Wind 7.0 mph NE. Barometer 1023.71 mb, Steady....",51.868056,0.731111,GB,"East, England",en
23,Local Weather @ 09:30:03 21/04/2016\nTemp 9.6 ...,52.251389,0.101667,GB,"Histon, England",en
24,Wind 5.0 mph ENE Gusting 12.0 mph.\nBarometer ...,53.283056,-4.562500,GB,"Valley, Wales",en
25,Temp 10.3°C WChill 8.6°C\nWind 4.5mph Gust 13....,51.088333,1.135000,GB,"Folkestone, England",en
26,"A woman on BBC news ""growing up with a Queen m...",55.857704,-4.243286,GB,"Glasgow, Scotland",en
27,@itslaurawhite there's so much more better n f...,55.626279,-4.508839,GB,"Kilmarnock, Scotland",en
28,"Wind 20 mph WNW. Barometer 1025.23 mb, Rising ...",59.242500,-2.587778,GB,"Scotland, United Kingdom",en
29,"Wind 9 kts NE. Barometer 1021.2 hPa, Falling s...",53.790000,-8.715556,IE,"Mayo, Ireland",en
30,Twin Peaks 20.04.16 @ Rough Trade https://t.co...,51.521085,-0.072385,GB,London,en
31,"Wind 1 kts ENE. Barometer 1026.05 mb, Falling ...",52.335556,0.914444,GB,"Hepworth, England",en
32,Temp:6.8c hum:72% wind:2.1mph dir:N Pres:996.9...,53.648333,-1.821667,GB,"Huddersfield, England",en
33,Temp:10.7c Wind: 1.9 kts SW Rain today:0.0 mm....,54.935000,-2.733611,GB,"Brampton, England",en
34,9.5°C Wind:4.5mph Pressure:1026.8hpa Rising sl...,51.617222,-0.601111,GB,"South East, England",en
35,Wind 8.0 mph ENE\nBarometer 1025.23 mb Steady\...,51.813611,1.168889,GB,"Clacton on Sea, England",en
36,"09:30 BST: Temperature: 10.4°C, Wind: S, 0 mph...",51.676323,-3.542993,GB,"Treherbert, Wales",en
37,Temp:15.5°C \nHigh:15.6°C \nLow:3.3°C\nWind:...,54.999444,-1.544167,GB,"Wallsend, England",en
39,https://t.co/B9Irt9lhvt Temp: 9.7°C Wind:6.0mp...,51.972222,0.780556,GB,"Bures, England",en
40,Uni? Completed it mate @ Keele University http...,53.003000,-2.273000,GB,"Keele, England",en
41,Temp:12.2C Wind:4.0 mph Barometer:1024.3 mb Ra...,55.042500,-1.488889,GB,"Whitley Bay, England",en
42,Pure's Hannah Booth &amp; Peter Horobin at las...,51.526224,-0.087952,GB,London,en
43,When it's lovely and sunny and you have the ni...,53.958300,-1.080300,GB,"York, England",en
44,Join the Kellogg team! See our latest #Marketi...,53.480759,-2.242631,GB,Manchester,en
45,It feels good to be lost in the right directio...,55.949400,-3.160300,GB,"Scotland, United Kingdom",en
46,Join the Student Association for our Annual Ge...,51.486477,-3.183198,GB,"Cardiff, Wales",en
47,💗 Sunny Days &amp; ❤️ an Anti-Ageing Tinted Mo...,55.830523,-4.155254,GB,"Glasgow, Scotland",en
48,Are you ready to learn about the legendary dan...,51.513302,-0.131348,GB,London,en
49,""".....beat me on the bottom with a Woman's We...",51.541278,-0.229073,GB,London,en
50,"I'm at Financial Times in London, Greater Lond...",51.507447,-0.094328,GB,London,en
51,Smile for you 😊 yes you ☺️ @ My Beautiful Room...,54.953965,-7.376499,GB,"Northern Ireland, United Kingdom",en
52,Pleased that Hearn acknowledged they should ha...,52.448938,-1.933336,GB,"Birmingham, England",en
53,Only one mode of transport when the weathers i...,55.033333,-1.433333,GB,"Whitley Bay, England",en
54,The view on #Bishopsgate on my #runcommute. La...,51.513302,-0.131348,GB,London,en
55,@Koningin_BE That 's why I' m here in #london ...,51.557517,-0.282090,GB,London,en

In [119]:
dataset3 = dataset2['City']
london = dataset3.str.contains('London')
london[:5]

0     True
1    False
2    False
3     True
4    False
Name: City, dtype: bool

In [120]:
dataset2['City'] = np.where(london, 'London',dataset3.str.replace('-', ' '))

<ipython-input-120-0a7f9d1b2ad3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset2['City'] = np.where(london, 'London',dataset3.str.replace('-', ' '))

In [121]:
dataset2['City'].head(800)

0                     London
1        Willenhall, England
2       Dublin City, Ireland
3                     London
4                 Manchester
               ...
805    South Dublin, Ireland
806                   London
807     Whitley Bay, England
809        Ormskirk, England
810          Yeovil, England
Name: City, Length: 800, dtype: object

In [122]:
dataset4 = dataset2['City']
edinburgh = dataset4.str.contains('Edinburgh')
edinburgh[:8]

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
Name: City, dtype: bool

In [123]:
dataset2['City'] = np.where(edinburgh, 'Edinburgh',dataset4.str.replace('-', ' '))

<ipython-input-123-948c0746cb94>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset2['City'] = np.where(edinburgh, 'Edinburgh',dataset4.str.replace('-', ' '))

In [124]:
dataset2['City'].head(40)
dataset2[dataset2['City']=='Edinburgh']

,Text,Latitude,Longitude,Country,City,Language
114,#hellostorm (@ Storm ID in Edinburgh) https://...,55.975023,-3.166691,GB,Edinburgh,en
192,Arriving to a fine weather in #edinburgh #scot...,55.949618,-3.191139,GB,Edinburgh,en
264,@jwmadrid @Arsenal football?,55.941759,-3.205545,GB,Edinburgh,en
412,Become a tree. For those old enough to remembe...,55.940924,-3.191950,GB,Edinburgh,en
943,some bright colours to liven up your day #woll...,55.938380,-3.195114,GB,Edinburgh,en
...,...,...,...,...,...,...
154162,〰🖼 Big little eggs 🖼〰 #asbestosreststop @ Edin...,55.945189,-3.198200,GB,Edinburgh,en
154338,"Just posted a photo @ Calton Hill, Nelson Monu...",55.954597,-3.183115,GB,Edinburgh,en
154694,#ProjectMgmt #Job alert: Firewall Administrato...,55.953252,-3.188267,GB,Edinburgh,en
154739,I work in the #elephanthousecafé now because I...,55.947444,-3.191692,GB,Edinburgh,en
154810,"'Micky, do you think I should go for a run?' -...",55.966609,-3.175107,GB,Edinburgh,en

In [125]:
dataset5 = dataset2['City']
manchester = dataset5.str.contains('Manchester')
manchester[:8]

0    False
1    False
2    False
3    False
4     True
5    False
6    False
7    False
Name: City, dtype: bool

In [126]:
dataset2['City'] = np.where(manchester, 'Manchester',dataset5.str.replace('-', ' '))

<ipython-input-126-2d4eaf2e2235>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset2['City'] = np.where(manchester, 'Manchester',dataset5.str.replace('-', ' '))

In [127]:
dataset2['City'].head(40)
dataset2[dataset2['City']=='Manchester']

,Text,Latitude,Longitude,Country,City,Language
4,If you're a #Pharmaceutical professional in #M...,53.480759,-2.242631,GB,Manchester,en
44,Join the Kellogg team! See our latest #Marketi...,53.480759,-2.242631,GB,Manchester,en
88,@TfLTravelAlerts is there a tube/workers strik...,53.474907,-2.245314,GB,Manchester,en
90,I'm at @WeAreDigitl in Manchester w/ @webdarre...,53.501591,-2.194708,GB,Manchester,en
94,#BusinessRocks (@ Manchester Central in Manche...,53.476247,-2.247090,GB,Manchester,en
...,...,...,...,...,...,...
154709,What a show #animalcollective #Manchester #rit...,53.474334,-2.242663,GB,Manchester,en
154771,Today's Hairstyle of the Devil @ OxfamEmporium...,53.481979,-2.236236,GB,Manchester,en
154852,SCENTED// studio today. There's a mountain of...,53.466700,-2.233300,GB,Manchester,en
154860,I love my bed too much 🌈,53.441512,-2.209847,GB,Manchester,en
154913,Dah sampaiiii (@ Manchester International Airp...,53.362359,-2.274299,GB,Manchester,en

In [128]:
dataset2.iloc[114]

Text         Somerleyton, 9a Sandycove Avenue West, Sand.. ...
Latitude                                             53.286982
Longitude                                            -6.115162
Country                                                     IE
City                           Dun Laoghaire Rathdown, Ireland
Language                                                    en
Name: 116, dtype: object

In [129]:
dataset2[dataset2['City']=='Edinburgh']

,Text,Latitude,Longitude,Country,City,Language
114,#hellostorm (@ Storm ID in Edinburgh) https://...,55.975023,-3.166691,GB,Edinburgh,en
192,Arriving to a fine weather in #edinburgh #scot...,55.949618,-3.191139,GB,Edinburgh,en
264,@jwmadrid @Arsenal football?,55.941759,-3.205545,GB,Edinburgh,en
412,Become a tree. For those old enough to remembe...,55.940924,-3.191950,GB,Edinburgh,en
943,some bright colours to liven up your day #woll...,55.938380,-3.195114,GB,Edinburgh,en
...,...,...,...,...,...,...
154162,〰🖼 Big little eggs 🖼〰 #asbestosreststop @ Edin...,55.945189,-3.198200,GB,Edinburgh,en
154338,"Just posted a photo @ Calton Hill, Nelson Monu...",55.954597,-3.183115,GB,Edinburgh,en
154694,#ProjectMgmt #Job alert: Firewall Administrato...,55.953252,-3.188267,GB,Edinburgh,en
154739,I work in the #elephanthousecafé now because I...,55.947444,-3.191692,GB,Edinburgh,en
154810,"'Micky, do you think I should go for a run?' -...",55.966609,-3.175107,GB,Edinburgh,en

In [130]:
x=dataset2[dataset2['City'].str.contains("Manchester")==False]

In [131]:
x.head(88)

,Text,Latitude,Longitude,Country,City,Language
0,Talking to some great journos this morning all...,51.505185,-0.150128,GB,London,en
1,Incident (Severe delay) M6 northbound between ...,52.615627,-2.029030,GB,"Willenhall, England",en
2,THIS: “@Colmogorman: Great piece by @amcteirna...,53.336995,-6.279686,IE,"Dublin City, Ireland",en
3,A Little snippet from my #SundayJazzCongregati...,51.513451,-0.125331,GB,London,en
5,Our 2 day @Cadreon_IPG Summit kicks off in our...,51.515238,-0.127154,GB,London,en
...,...,...,...,...,...,...
87,Excellent performance in London has fallen and...,51.546923,-0.175388,GB,London,en
89,"'Twas goood ramen 😋\n Rich pork broth, super y...",51.512959,-0.132240,GB,London,en
91,Its end of April and I am dying to swap this h...,51.500754,-0.055445,GB,London,en
92,@mooseandjrock its the queens birthday but its...,53.487657,-1.357041,GB,"Yorkshire and The Humber, England",en
93,Bluebell in #highburypark #macro #igbest_macro...,52.413376,-1.904081,GB,"Birmingham, England",en

In [132]:
x2=dataset2.query("City=='London' or City=='Manchester' or City=='Edinburgh'")

In [166]:
x2.head(60)

,Text,Latitude,Longitude,Country,City,Language
0,talking to some great journos this morning all...,51.505185,-0.150128,GB,London,en
3,a little snippet from my sundayjazzcongregati...,51.513451,-0.125331,GB,London,en
4,if you're a pharmaceutical professional in m...,53.480759,-2.242631,GB,Manchester,en
5,our 2 day summit kicks off in our new office ...,51.515238,-0.127154,GB,London,en
7,""" hell yeah! x""\nlook at you all posh on...",51.430730,0.070274,GB,London,en
9,"2 hours to kill (at london (lhr) in hounslow,...",51.469715,-0.459881,GB,London,en
12,when life gives you lemon choux with meringue ...,51.513302,-0.131348,GB,London,en
13,egaylity homophobia in morocco gay or str...,51.619671,0.020313,GB,London,en
14,egaylity homophobia in morocco gay or str...,51.619671,0.020313,GB,London,en
30,twin peaks 20 04 16 at rough trade,51.521085,-0.072385,GB,London,en
42,pure's hannah booth amp peter horobin at las...,51.526224,-0.087952,GB,London,en
44,join the kellogg team! see our latest marketi...,53.480759,-2.242631,GB,Manchester,en
48,are you ready to learn about the legendary dan...,51.513302,-0.131348,GB,London,en
49,""" beat me on the bottom with a woman's we...",51.541278,-0.229073,GB,London,en
50,"i'm at financial times in london, greater london",51.507447,-0.094328,GB,London,en
54,the view on bishopsgate on my runcommute la...,51.513302,-0.131348,GB,London,en
55,that 's why i' m here in london now hip hip...,51.557517,-0.282090,GB,London,en
60,maintain your discipline and get the results y...,51.527936,-0.199837,GB,London,en
62,happy 90th birthday ma'am proudtobebritish t...,51.513537,-0.143278,GB,London,en
72,"really, it's my birthday? happy birthday to an...",51.520600,-0.147700,GB,London,en
74,"look, a red panda at renderconf",51.509041,-0.190179,GB,London,en
76,the wellsburg fedora now available in store ...,51.517936,-0.125595,GB,London,en
77,"talks about the mistake of the iraq war ""cri...",51.515226,-0.117892,GB,London,en
78,look what arrived this week! \n \n countd...,51.438255,-0.165098,GB,London,en
87,excellent performance in london has fallen and...,51.546923,-0.175388,GB,London,en
88,is there a tube workers strike this sunday 24...,53.474907,-2.245314,GB,Manchester,en
89,"'twas goood ramen \n rich pork broth, super y...",51.512959,-0.132240,GB,London,en
90,i'm at in manchester w,53.501591,-2.194708,GB,Manchester,en
91,its end of april and i am dying to swap this h...,51.500754,-0.055445,GB,London,en
94,businessrocks (at manchester central in manch...,53.476247,-2.247090,GB,Manchester,en
100,i'm at edmonton county court,51.610555,-0.066449,GB,London,en
102,another great day ahead in the office pur...,51.508755,-0.147430,GB,London,en
104,and such hard work she is amazing,51.451441,-0.325895,GB,London,en
108,uknof34 (at uknof34 in manchester),53.475807,-2.247358,GB,Manchester,en
109,my home for the next 10 hours! 747 seattle a...,51.471513,-0.488462,GB,London,en
110,"i'm at london (lhr) in hounslow, london",51.469715,-0.459881,GB,London,en
112,first and last ever trip to the boleyn ground ...,51.531752,0.038814,GB,London,en
113,check out (at hilton london metropole hotel ...,51.519571,-0.170142,GB,London,en
114,hellostorm (at storm id in edinburgh),55.975023,-3.166691,GB,Edinburgh,en
115,"ordering blood culture bottles (4 the unit, no...",51.517332,-0.058778,GB,London,en
117,throw back to 2 years ago when i had an amazin...,51.509540,-0.127580,GB,London,en
119,jokes he can't say where he stands on brexit...,51.515209,-0.117855,GB,London,en
120,only 5mins late! (at griffin brewery in chi...,51.487102,-0.251012,GB,London,en
128,unfortunately couldn't capture our scrumptious...,51.518290,-0.140272,GB,London,en
130,breakfast with \ni always love this place in ...,51.490468,-0.144766,GB,London,en
138,"first time at canarywharf it's a futuristic,...",51.504640,-0.019555,GB,London,en
143,this pharmaceutical job might be a great fit...,51.430921,-0.093650,GB,London,en
146,homemade cherry pies almost ready ) shoplo...,51.585488,-0.001895,GB,London,en
152,"happy 21st birthday mate, have a good one!",53.483121,-2.335091,GB,Manchester,en
165,day 8 (at bpp university shepherd bush),51.505364,-0.223262,GB,London,en
170,angel road station nothing exciting or unusua...,51.611800,-0.049500,GB,London,en
172,"off to helsinki (at london (lhr) in hounslow,...",51.469715,-0.459881,GB,London,en
174,"""first time went broke, i ain't seen nobody"" a...",51.372700,-0.109900,GB,London,en
175,bhiva2016 currently listening to the great ar...,53.477275,-2.246829,GB,Manchester,en
176,the founders assembly (at mondrian london i...,51.508336,-0.106761,GB,London,en
186,nice great tyre mark after being carted into b...,51.513660,-0.088150,GB,London,en
187,"i'm at manchester central in manchester, great...",53.476247,-2.247090,GB,Manchester,en
190,afternoon commute towerbridge globalicons ...,51.505149,-0.075585,GB,London,en
192,arriving to a fine weather in edinburgh scot...,55.949618,-3.191139,GB,Edinburgh,en
194,another tough session today with pt calas...,51.455717,-0.192850,GB,London,en

In [135]:
x3 = x2[x2.isna().any(axis=1)]
print(x3)

                                                    Text   Latitude  \
10519  #destinationanywhere after a really long time ...  51.495495
10906  Good thing, I had set up twitter with my numbe...  51.495495
27282                @SuperShinkenRed Yeah it was great!  51.549550
27818  @DengroveAriel #ShortHair #Blonde #Selfie #Bor...  51.513514
28700  @SuperShinkenRed They were against Tamina and ...  51.513514
31924  #BetterCallSaul come on its been 2 season when...  51.513514
31964  #BetterCallSaul Mike's story is so much better...  51.513514
51976  Watch "Meg Myers - Lemon Eyes [Music Video]" o...  51.513514
82441  Do they still sell ladies jeans unripped at th...  51.549550

       Longitude Country    City Language
10519        NaN      GB  London       en
10906        NaN      GB  London       en
27282        NaN      GB  London       en
27818        NaN      GB  London       en
28700        NaN      GB  London       en
31924        NaN      GB  London       en
31964        NaN      GB  London       en
51976        NaN      GB  London       en
82441        NaN      GB  London       en

In [158]:
# Keep cleaning dataframe 'cleaned_en_df' to keep text only (remove emojis, html etc..)
def standardize_text(dataset, text_field):
    dataset[text_field] = dataset[text_field].str.replace(r"http\S+", "")
    dataset[text_field] = dataset[text_field].str.replace(r"http", "")
    dataset[text_field] = dataset[text_field].str.replace(r"@\S+", "")
    dataset[text_field] = dataset[text_field].str.replace(r"[^A-Za-z0-9(),!?@\'\`\"\_\n]", " ")
    dataset[text_field] = dataset[text_field].str.replace(r"@", "at")
    dataset[text_field] = dataset[text_field].str.lower()
    return df

tweets_df = standardize_text(x2, "Text")
tweets_df.head(10)

<ipython-input-158-1e4886f5977c>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  dataset[text_field] = dataset[text_field].str.replace(r"http\S+", "")
<ipython-input-158-1e4886f5977c>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[text_field] = dataset[text_field].str.replace(r"http\S+", "")
<ipython-input-158-1e4886f5977c>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[text_field] = dataset[text_field].str.replace(r"http", "")
<ipython-input-158-1e4886f5977c>:5: FutureWarning: The default value of regex will change from True to False in a future version.
  dataset[text_field] = dataset[text_field].str.replace(r"@\S+", "")
<ipython-input-158-1e4886f5977c>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[text_field] = dataset[text_field].str.replace(r"@\S+", "")
<ipython-input-158-1e4886f5977c>:6: FutureWarning: The default value of regex will change from True to False in a future version.
  dataset[text_field] = dataset[text_field].str.replace(r"[^A-Za-z0-9(),!?@\'\`\"\_\n]", " ")
<ipython-input-158-1e4886f5977c>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[text_field] = dataset[text_field].str.replace(r"[^A-Za-z0-9(),!?@\'\`\"\_\n]", " ")
<ipython-input-158-1e4886f5977c>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[text_field] = dataset[text_field].str.replace(r"@", "at")
<ipython-input-158-1e4886f5977c>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[text_field] = dataset[text_field].str.lower()

,Text,Latitude,Longitude,Country,City,Language,Text_Clean
114,hellostorm (at storm id in edinburgh),55.975023,-3.166691,GB,Edinburgh,en,hellostorm at storm id in edinburgh
192,arriving to a fine weather in edinburgh scot...,55.949618,-3.191139,GB,Edinburgh,en,arriving to a fine weather in edinburgh scot...
264,football?,55.941759,-3.205545,GB,Edinburgh,en,football
412,become a tree for those old enough to remembe...,55.940924,-3.191950,GB,Edinburgh,en,become a tree for those old enough to remembe...
943,some bright colours to liven up your day woll...,55.938380,-3.195114,GB,Edinburgh,en,some bright colours to liven up your day woll...
1120,happy 90th birthday cupcakes for the royal yac...,55.981594,-3.177443,GB,Edinburgh,en,happy 90th birthday cupcakes for the royal yac...
1125,another lovely morning for the walk to work e...,55.950858,-3.227564,GB,Edinburgh,en,another lovely morning for the walk to work e...
1197,"we dont get to see a lot of her, on our notes...",55.949307,-3.193451,GB,Edinburgh,en,we dont get to see a lot of her on our notes...
1278,nice of the castle to fire off a 21 gun salute...,55.949333,-3.193453,GB,Edinburgh,en,nice of the castle to fire off a 21 gun salute...
1315,enjoy the moment \n vsco waterofleith edinbu...,55.974330,-3.180389,GB,Edinburgh,en,enjoy the moment vsco waterofleith edinbur...

In [171]:
import re
tweets_df=x2

In [172]:
def remove_symbs(text):
    html = re.compile(r'[^\w]')
    return html.sub(r" ", text)

tweets_df["Text_Clean"] = tweets_df['Text'].map(lambda x: remove_symbs(x)) #1 --> #1

<ipython-input-172-8771977fcdb4>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets_df["Text_Clean"] = tweets_df['Text'].map(lambda x: remove_symbs(x)) #1 --> #1

In [173]:
tweets_df

,Text,Latitude,Longitude,Country,City,Language,Text_Clean
0,talking to some great journos this morning all...,51.505185,-0.150128,GB,London,en,talking to some great journos this morning all...
3,a little snippet from my sundayjazzcongregati...,51.513451,-0.125331,GB,London,en,a little snippet from my sundayjazzcongregati...
4,if you're a pharmaceutical professional in m...,53.480759,-2.242631,GB,Manchester,en,if you re a pharmaceutical professional in m...
5,our 2 day summit kicks off in our new office ...,51.515238,-0.127154,GB,London,en,our 2 day summit kicks off in our new office ...
7,""" hell yeah! x""\nlook at you all posh on...",51.430730,0.070274,GB,London,en,hell yeah x look at you all posh on ...
...,...,...,...,...,...,...,...
154885,"frontroomfatloss\n\ntry this, another of our ...",51.449963,0.051580,GB,London,en,frontroomfatloss try this another of our fr...
154888,"london, england hr job payroll specialist ...",51.507351,-0.127758,GB,London,en,london england hr job payroll specialist ...
154889,earlyaction still a big gap between rhetori...,51.516437,-0.108611,GB,London,en,earlyaction still a big gap between rhetori...
154902,the limitations and benefits of social media f...,51.501350,-0.142844,GB,London,en,the limitations and benefits of social media f...
154913,dah sampaiiii (at manchester international air...,53.362359,-2.274299,GB,Manchester,en,dah sampaiiii at manchester international air...

In [175]:
# URL & HTML Removal
def remove_URL(text):
    url = re.compile(r"https?://\S+|www\.\S+")
    return url.sub(r"", text)

def remove_html(text):
    html = re.compile(r"<.*?>")
    return html.sub(r"", text)

In [176]:
tweets_df

,Text,Latitude,Longitude,Country,City,Language,Text_Clean
0,talking to some great journos this morning all...,51.505185,-0.150128,GB,London,en,talking to some great journos this morning all...
3,a little snippet from my sundayjazzcongregati...,51.513451,-0.125331,GB,London,en,a little snippet from my sundayjazzcongregati...
4,if you're a pharmaceutical professional in m...,53.480759,-2.242631,GB,Manchester,en,if you re a pharmaceutical professional in m...
5,our 2 day summit kicks off in our new office ...,51.515238,-0.127154,GB,London,en,our 2 day summit kicks off in our new office ...
7,""" hell yeah! x""\nlook at you all posh on...",51.430730,0.070274,GB,London,en,hell yeah x look at you all posh on ...
...,...,...,...,...,...,...,...
154885,"frontroomfatloss\n\ntry this, another of our ...",51.449963,0.051580,GB,London,en,frontroomfatloss try this another of our fr...
154888,"london, england hr job payroll specialist ...",51.507351,-0.127758,GB,London,en,london england hr job payroll specialist ...
154889,earlyaction still a big gap between rhetori...,51.516437,-0.108611,GB,London,en,earlyaction still a big gap between rhetori...
154902,the limitations and benefits of social media f...,51.501350,-0.142844,GB,London,en,the limitations and benefits of social media f...
154913,dah sampaiiii (at manchester international air...,53.362359,-2.274299,GB,Manchester,en,dah sampaiiii at manchester international air...

In [177]:
tweets_df.to_csv('deneme1.csv')

In [16]:
df46 = pd.read_csv ('C:/Users/busra/Ahoy/Jordan/datasets/deneme1.csv')

In [17]:
df46.head(50)

,Unnamed: 0,Text,Latitude,Longitude,Country,City,Language,Text_Clean
0,0,talking to some great journos this morning all...,51.505185,-0.150128,GB,London,en,talking to some great journos this morning all...
1,3,a little snippet from my sundayjazzcongregati...,51.513451,-0.125331,GB,London,en,a little snippet from my sundayjazzcongregati...
2,4,if you're a pharmaceutical professional in m...,53.480759,-2.242631,GB,Manchester,en,if you re a pharmaceutical professional in m...
3,5,our 2 day summit kicks off in our new office ...,51.515238,-0.127154,GB,London,en,our 2 day summit kicks off in our new office ...
4,7,""" hell yeah! x""\nlook at you all posh on...",51.430730,0.070274,GB,London,en,hell yeah x look at you all posh on ...
5,9,"2 hours to kill (at london (lhr) in hounslow,...",51.469715,-0.459881,GB,London,en,2 hours to kill at london lhr in hounslow ...
6,12,when life gives you lemon choux with meringue ...,51.513302,-0.131348,GB,London,en,when life gives you lemon choux with meringue ...
7,13,egaylity homophobia in morocco gay or str...,51.619671,0.020313,GB,London,en,egaylity homophobia in morocco gay or str...
8,14,egaylity homophobia in morocco gay or str...,51.619671,0.020313,GB,London,en,egaylity homophobia in morocco gay or str...
9,30,twin peaks 20 04 16 at rough trade,51.521085,-0.072385,GB,London,en,twin peaks 20 04 16 at rough trade
10,42,pure's hannah booth amp peter horobin at las...,51.526224,-0.087952,GB,London,en,pure s hannah booth amp peter horobin at las...
11,44,join the kellogg team! see our latest marketi...,53.480759,-2.242631,GB,Manchester,en,join the kellogg team see our latest marketi...
12,48,are you ready to learn about the legendary dan...,51.513302,-0.131348,GB,London,en,are you ready to learn about the legendary dan...
13,49,""" beat me on the bottom with a woman's we...",51.541278,-0.229073,GB,London,en,beat me on the bottom with a woman s we...
14,50,"i'm at financial times in london, greater london",51.507447,-0.094328,GB,London,en,i m at financial times in london greater london
15,54,the view on bishopsgate on my runcommute la...,51.513302,-0.131348,GB,London,en,the view on bishopsgate on my runcommute la...
16,55,that 's why i' m here in london now hip hip...,51.557517,-0.282090,GB,London,en,that s why i m here in london now hip hip...
17,60,maintain your discipline and get the results y...,51.527936,-0.199837,GB,London,en,maintain your discipline and get the results y...
18,62,happy 90th birthday ma'am proudtobebritish t...,51.513537,-0.143278,GB,London,en,happy 90th birthday ma am proudtobebritish t...
19,72,"really, it's my birthday? happy birthday to an...",51.520600,-0.147700,GB,London,en,really it s my birthday happy birthday to an...
20,74,"look, a red panda at renderconf",51.509041,-0.190179,GB,London,en,look a red panda at renderconf
21,76,the wellsburg fedora now available in store ...,51.517936,-0.125595,GB,London,en,the wellsburg fedora now available in store ...
22,77,"talks about the mistake of the iraq war ""cri...",51.515226,-0.117892,GB,London,en,talks about the mistake of the iraq war cri...
23,78,look what arrived this week! \n \n countd...,51.438255,-0.165098,GB,London,en,look what arrived this week countdow...
24,87,excellent performance in london has fallen and...,51.546923,-0.175388,GB,London,en,excellent performance in london has fallen and...
25,88,is there a tube workers strike this sunday 24...,53.474907,-2.245314,GB,Manchester,en,is there a tube workers strike this sunday 24...
26,89,"'twas goood ramen \n rich pork broth, super y...",51.512959,-0.132240,GB,London,en,twas goood ramen rich pork broth super yu...
27,90,i'm at in manchester w,53.501591,-2.194708,GB,Manchester,en,i m at in manchester w
28,91,its end of april and i am dying to swap this h...,51.500754,-0.055445,GB,London,en,its end of april and i am dying to swap this h...
29,94,businessrocks (at manchester central in manch...,53.476247,-2.247090,GB,Manchester,en,businessrocks at manchester central in manch...
30,100,i'm at edmonton county court,51.610555,-0.066449,GB,London,en,i m at edmonton county court
31,102,another great day ahead in the office pur...,51.508755,-0.147430,GB,London,en,another great day ahead in the office pur...
32,104,and such hard work she is amazing,51.451441,-0.325895,GB,London,en,and such hard work she is amazing
33,108,uknof34 (at uknof34 in manchester),53.475807,-2.247358,GB,Manchester,en,uknof34 at uknof34 in manchester
34,109,my home for the next 10 hours! 747 seattle a...,51.471513,-0.488462,GB,London,en,my home for the next 10 hours 747 seattle a...
35,110,"i'm at london (lhr) in hounslow, london",51.469715,-0.459881,GB,London,en,i m at london lhr in hounslow london
36,112,first and last ever trip to the boleyn ground ...,51.531752,0.038814,GB,London,en,first and last ever trip to the boleyn ground ...
37,113,check out (at hilton london metropole hotel ...,51.519571,-0.170142,GB,London,en,check out at hilton london metropole hotel ...
38,114,hellostorm (at storm id in edinburgh),55.975023,-3.166691,GB,Edinburgh,en,hellostorm at storm id in edinburgh
39,115,"ordering blood culture bottles (4 the unit, no...",51.517332,-0.058778,GB,London,en,ordering blood culture bottles 4 the unit no...
40,117,throw back to 2 years ago when i had an amazin...,51.509540,-0.127580,GB,London,en,throw back to 2 years ago when i had an amazin...
41,119,jokes he can't say where he stands on brexit...,51.515209,-0.117855,GB,London,en,jokes he can t say where he stands on brexit...
42,120,only 5mins late! (at griffin brewery in chi...,51.487102,-0.251012,GB,London,en,only 5mins late at griffin brewery in chi...
43,128,unfortunately couldn't capture our scrumptious...,51.518290,-0.140272,GB,London,en,unfortunately couldn t capture our scrumptious...
44,130,breakfast with \ni always love this place in ...,51.490468,-0.144766,GB,London,en,breakfast with i always love this place in t...
45,138,"first time at canarywharf it's a futuristic,...",51.504640,-0.019555,GB,London,en,first time at canarywharf it s a futuristic ...
46,143,this pharmaceutical job might be a great fit...,51.430921,-0.093650,GB,London,en,this pharmaceutical job might be a great fit...
47,146,homemade cherry pies almost ready ) shoplo...,51.585488,-0.001895,GB,London,en,homemade cherry pies almost ready shoplo...
48,152,"happy 21st birthday mate, have a good one!",53.483121,-2.335091,GB,Manchester,en,happy 21st birthday mate have a good one
49,165,day 8 (at bpp university shepherd bush),51.505364,-0.223262,GB,London,en,day 8 at bpp university shepherd bush

In [18]:
df46.isnull().sum()

Unnamed: 0    0
Text          0
Latitude      0
Longitude     9
Country       0
City          0
Language      0
Text_Clean    0
dtype: int64

In [19]:
null_data = df46[df46.isnull().any(axis=1)]
null_data

,Unnamed: 0,Text,Latitude,Longitude,Country,City,Language,Text_Clean
2660,10519,destinationanywhere after a really long time ...,51.495495,NaN,GB,London,en,destinationanywhere after a really long time ...
2766,10906,"good thing, i had set up twitter with my numbe...",51.495495,NaN,GB,London,en,good thing i had set up twitter with my numbe...
7347,27282,yeah it was great!,51.549550,NaN,GB,London,en,yeah it was great
7486,27818,shorthair blonde selfie boredatwork ifee...,51.513514,NaN,GB,London,en,shorthair blonde selfie boredatwork ifee...
7749,28700,they were against tamina and naomi paige and...,51.513514,NaN,GB,London,en,they were against tamina and naomi paige and...
8565,31924,bettercallsaul come on its been 2 season when...,51.513514,NaN,GB,London,en,bettercallsaul come on its been 2 season when...
8571,31964,bettercallsaul mike's story is so much better...,51.513514,NaN,GB,London,en,bettercallsaul mike s story is so much better...
14016,51976,"watch ""meg myers lemon eyes music video "" o...",51.513514,NaN,GB,London,en,watch meg myers lemon eyes music video o...
22132,82441,do they still sell ladies jeans unripped at th...,51.549550,NaN,GB,London,en,do they still sell ladies jeans unripped at th...

In [20]:
df47 = df46[df46['Longitude'].notna()]

In [21]:
df47.isnull().sum()

Unnamed: 0    0
Text          0
Latitude      0
Longitude     0
Country       0
City          0
Language      0
Text_Clean    0
dtype: int64

In [23]:
df47.to_csv('twittercleaned.csv')